/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Belwe';
  src: url("img/belwe-medium.ttf") format("truetype"); }
@font-face {
  font-family: 'Belwe';
  font-weight: 300;
  src: url("img/belwe-light.ttf") format("truetype"); }
@font-face {
  font-family: 'Belwe';
  font-weight: bold;
  src: url("img/belwe-bold.ttf") format("truetype"); }
body {
  background-color: black;
  padding: 0;
  margin: 0; }

#wrapper {
  width: 100%;
  height: 100%;
  background: url("img/background1.jpg") no-repeat scroll left 0, url("img/background2.jpg") no-repeat scroll right 0;
  max-width: 2260px;
  margin: auto; }

h1 {
  text-align: center;
  margin-top: 0;
  font-weight: 300; }

.about {
  text-align: center;
  font-size: 12px; }

#main {
  width: 980px;
  padding: 20px;
  margin: auto;
  overflow: hidden;
  font-family: 'Belwe', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  background-image: url("img/lower-background.jpg"); }

.side {
  overflow: hidden; }

.unit {
  width: 100px;
  height: 218px;
  position: relative;
  z-index: 1;
  float: left;
  margin: 10px 0;
  margin-right: 20px; }
  .unit .unit-box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    position: relative; }
  .unit .results-box {
    height: 118px;
    overflow: auto;
    font-family: 'Consolas', 'Menlo', 'Courier New', monospace; }
  .unit input {
    position: absolute;
    left: 24px;
    top: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    outline: none;
    padding-top: 8px;
    background: transparent;
    background-image: url(img/health.png);
    background-position: center center;
    background-size: 40px auto;
    background-repeat: no-repeat;
    color: white;
    font-family: inherit;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black; }
  .unit.disabled {
    opacity: 0.3; }
  .unit .up-arrow, .unit .down-arrow {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black; }
    .unit .up-arrow .icon, .unit .down-arrow .icon {
      -moz-transform: scaleX(2);
      -webkit-transform: scaleX(2);
      -moz-user-select: none;
      -webkit-user-select: none;
      display: inline-block; }
  .unit .up-arrow {
    top: 8px; }
  .unit .down-arrow {
    bottom: 6px; }
  .unit table {
    width: 60px;
    margin: auto; }
  .unit td {
    white-space: pre-wrap; }
  .unit tr.lethal {
    font-weight: bold; }
  .unit:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -1;
    background-size: 100% auto;
    background-repeat: no-repeat; }

unit:last-child .unit {
  margin-right: 0; }

.label {
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  margin: 10px; }

.unit:after {
  background-image: url("img/minion8hp.png"); }

.unit.disabled:after {
  background-image: none; }

.unit[data-hp='1']:after {
  background-image: url("img/minion1hp.png"); }

.unit[data-hp='2']:after {
  background-image: url("img/minion2hp.png"); }

.unit[data-hp='3']:after {
  background-image: url("img/minion3hp.png"); }

.unit[data-hp='4']:after {
  background-image: url("img/minion4hp.png"); }

.unit[data-hp='5']:after {
  background-image: url("img/minion5hp.png"); }

.unit[data-hp='6']:after {
  background-image: url("img/minion6hp.png"); }

.unit[data-hp='7']:after {
  background-image: url("img/minion7hp.png"); }

unit:first-child .unit:after {
  background-image: url("img/hero.png"); }

#top .unit {
  height: 100px; }
#top .label {
  text-align: center;
  padding-top: 30px; }
#top input {
  background-image: url(img/attack.png);
  background-position: 2px 3px; }
#top #bomber .unit:after {
  background-image: url("img/mad-bomber.png"); }
#top #missiles .unit:after {
  background-image: url("img/arcane-missiles.png"); }
#top #wrath .unit:after {
  background-image: url("img/avenging-wrath.png"); }

#results-message {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px; }
