<!doctype html>
<html ng-app="hs" ng-controller="MainController">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="core.js"></script>
    <script src="ui.js"></script>
    <link rel="stylesheet" href="hs.css" />
</head>
<body>
    <div id="main">
        <div class="side" id="top">
            <box value="enemyDamage"></box>
            <box value="allDamage"></box>
        </div>
        <div class="side" ng-controller="Side" ng-init="init('enemy')">
            <unit ng-repeat="unit in units" unit="unit"></unit>
        </div>
        <div class="side" ng-controller="Side" ng-init="init('my')">
            <unit ng-repeat="unit in units" unit="unit"></unit>
        </div>
    </div>
</body>
</html>