<!doctype html>
<html ng-app="hs" ng-controller="MainController">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="core2.js"></script>
    <script src="ui.js"></script>
    <link rel="stylesheet" href="hs.css" />
</head>
<body>
    <div class="side" ng-controller="Side" ng-init="init('my')">
        <unit ng-repeat="unit in units" unit="unit"></unit>
    </div>
    <div class="side" ng-controller="Side" ng-init="init('enemy')">
        <unit ng-repeat="unit in units" unit="unit"></unit>
    </div>
    <div class="results" ng-controller="Results" ng-init="init('enemy')">
        <div class="unit" ng-repeat="result in results">
            <table>
                <tr ng-repeat="(dmg, prob) in result">
                    <td>{{dmg}}</td><td>{{prob*100|number:0}}%</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>