<!doctype html>
<html ng-app="hs" ng-controller="MainController">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="core.js"></script>
    <script src="ui.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="hs.css" />
</head>
<body>
    <div id="wrapper">
    <div id="main">
        <h1>TC-130 Random Damage Predictor</h1>
        <p class="about"><a href="https://github.com/pindia/hs-predictor#tc-130-random-damage-predictor">About</a></p>
        <div class="side" id="top">
            <box value="enemyDamage" id="missiles"></box>
            <!--<box value="enemyDamage" id="wrath"></box>-->
            <box value="allDamage" id="bomber"></box>
        </div>

        <div id="results-message">
            <div ng-show="trials == 0">Results were <strong>calculated exactly</strong>.</div>
            <div ng-show="trials > 0">Results were <strong>simulated</strong> using <strong>{{trials|number}}</strong> trials.</div>
        </div>

        <div class="side" ng-controller="Side" ng-init="init('enemy')">
            <unit ng-repeat="unit in units" unit="unit"></unit>
        </div>
        <div class="side" ng-controller="Side" ng-init="init('my')">
            <unit ng-repeat="unit in units" unit="unit"></unit>
        </div>
        <p class="about"><a href="https://github.com/pindia/hs-predictor">Open Source</a></p>

    </div>
    </div>
</body>
</html>